@model Injaz_task_again.Models.Poll


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
        <div>
            <h2>Create a New Poll</h2>
            <form asp-action="CreatePollForm" method="post">
                <div class="form-group">
                    <label asp-for="Title">Poll Title</label>
                    <input type="text" asp-for="Title" class="form-control" placeholder="Enter poll title" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary">Create Poll</button>
            </form>
        </div>
</body>
</html>
